.floating-button {
    display: flex;
    flex-direction: column;
    background-color: #9FC540;
    padding: 10px 10px 10px 20px;
    border-radius: 25px 0px 0px 25px;
    position: fixed;
    bottom: 100px;
    right: 0px;
    justify-content: center;
    align-items: center;
    color: #0C1B2A;
    direction: rtl;
    width: 50px;
    min-height: 70px;
    transition: width  0.5s,  background-color 0.5s ease;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0px 8px 25px 5px rgba(49, 49, 49, 0.1);
}


.floating-button-clicked {
    width: 300px;
    background-color: #50606B;
}

.detailed-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.experience-text {
    color: #FFFFFE;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.emojiWrapper {
    display: flex;
    flex-direction: row;
    height: 35px;
}

.emoji {
    padding-left: 8px; 
    padding-right: 8px;
    height: 27px;
    transition: height 0.2s;
    width: 48px;
}

.emoji:hover {
    height: 35px;
    width: 48px;
}

.arrow {
    margin-right: 10px;
    margin-left: -25px;
}
